.option-container {
  height: 60px;
  width: 500px;
  margin: 30px 0;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.game-board {
    width: 200px;
    height: 200px;
    display: flex; /* display items within a flex */
    flex-wrap: wrap; /* make the items multi line */
}

#game-board-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.destroyer {
  background-color: red;
}
.submarine {
  background-color: blue;
}

.cruiser {
  background-color: green;
}

.battleship {
  background-color: purple;
}

.carrier {
  background-color: orange;
}

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 60px;
  height: 10px;
  margin: 3px;
}

.hover {
  background-color: grey;
}

.boom {
  background-color: orange
}

.empty {
  background-color: white;
}